In [2]:
# import preprocessing libraries
import numpy as np
import pandas as pd

**Numpy example**

In [4]:
list1 = [1,1,2,3,4,5,5] # list declaration

In [5]:
myarray = np.array(list1)   # convert list to an array
print(myarray)
myarray

[1 1 2 3 4 5 5]

array([1, 1, 2, 3, 4, 5, 5])

**Pandas example**

In [6]:
mySeries = pd.Series(myarray)
mySeries

0    1
1    1
2    2
3    3
4    4
5    5
6    5
dtype: int64